HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
datos/salida/*
!datos/salida/comparacion_estrategias.csv
!datos/salida/metricas_generacion.csv
!datos/salida/tiempos_carga_por_tabla.csv
!datos/salida/checksum_ordenes.txt
!datos/salida/casos-borde.txt
!datos/salida/explain_*
!datos/salida/*.md
